body{
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
    text-align: center;

}

header {
    text-align: left;
  
}

h1{
    background-color: rgb(208, 234, 144);
    color: black;
    font-family: sans-serif;
    padding: 30px;
}

p{
    margin: auto;
    padding: 20px;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;

}

#start {
    background-color: darkblue;
    color: azure;
    text-align: center;
    height: 50px;
    margin: auto;
}

#question-container{
    display: block;
    text-align: center;

}
#questions{
    text-align: center;
    display: block; 
}

button#answer1{
    display: block;
    width: 45%;
    margin:auto;
    margin-bottom: 5px;
    background-color: darkgreen;
    color: bisque;
    font-size: 1.2rem;
}

button#answer2{
    display: block;
    width: 45%;
    margin:auto;
    margin-bottom: 5px;
    background-color: darkgreen;
    color: bisque;
    font-size: 1.2rem;
}

button#answer3{
    display: block;
    width: 45%;
    margin:auto;
    margin-bottom: 5px;
    background-color: darkgreen;
    color: bisque;
    font-size: 1.2rem;
}

button#answer4{
    display: block;
    width: 45%;
    margin:auto;
    margin-bottom: 5px;
    background-color: darkgreen;
    color: bisque;
    font-size: 1.2rem;
}
